{{!--  --}}



<div class="blockItem">
    <div class="image icon">
        <img src="icons/{{icon}}" alt="">
    </div>
    <h2>Servei complet</h2>
</div>



<script type="text/javascript">
    includePartialsCss("blockItem")
</script>