<div class="sectionHeader smooth">
    <h1>{{title}}</h1>
    <div class="divider"></div>
</div>



<style>
    .sectionHeader {
        text-transform: uppercase;
        width: 69.5%;
        margin-top: 1em;
    }

    .sectionHeader>h1 {
        color: var(--dred);
        margin: 0;
    }

    .sectionHeader>.divider {
        background-color: #2b2b2b;
        background-color: var(--black);
        height: 4px;
        border-radius: 2px;
        margin-bottom: 30px;
    }
</style>
