<!DOCTYPE HTML>
<html lang="ca">
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>GraphQL Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />

    <script src="/assets/js/jquery.min.js"></script>
</head>

<body class="is-preload">

    <header id="header" class="alt">
        <a href="/" class="logo"><img src="/images/graphql-with-text-small.png" alt=""></a>
        <nav>
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/other">Other</a>
        </nav>
    </header>

    <div id="wrapper">

        {{{ body }}}


        <footer id="footer">
            <h3>This is a footer</h3>
        </footer>


        <script src="/assets/js/main.js"></script>
    </div>

</body>

</html>