<link rel="stylesheet" href="assets/css/blog.css" />
<script src="assets/js/blog.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
    integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
    crossorigin="anonymous"></script>


<div id="blog">

    <div class="container-xl">
        {{> sectionHeader title="Projectes"}}

        <ul class="icons blogFilters">
            <li><button class="basic active" data-filter="all">Tots</button></li>

            {{#each categories}}
                <li><button class="basic" data-filter={{name}}>{{name}}</button></li>
            {{/each}}
        </ul>
    </div>


    <section id="one" class="tiles">
        {{#each articles}}
            {{#hookArticleTag category}}
            {{/hookArticleTag}}
                <span class="image">
                    <img src="{{cover.publicUrl}}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/entry/{{id}}" class="link">{{title}}</a></h3>
                    <strong class="description">
                        {{{description}}}
                    </strong>
                </header>
            </article>
        {{/each}}

        {{!-- <article class="centered">
            <span class="image">
                <img src="images/495.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">ECOPOLTECH</a></h3>
                <strong>
                    LLICÈNCIES MEDIOAMBIENTAL. PLA
                    <br>
                    D’EMERGÈNCIA. PROJECTE ELÈCTRIC
                </strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/OIU9I70.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">FLUIDRA COMERCIAL ESPANYA</a></h3>
                <strong>
                    PLA D’EMERGÈNCIA. PLA AUTOPROTECCIÓ.
                    <br>
                    APQ. LEGALITZACIÓ ELÈCTRICA.
                    <br>
                    LLICÈNCIA D’ACTIVITATS.
                </strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/16473.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Magna</a></h3>
                <strong>Lorem etiam nullam</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/2643.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Ipsum</a></h3>
                <strong>Nisl sed aliquam</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article>
        <article class="centered">
            <span class="image">
                <img src="images/178.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="/entry" class="link">Consequat</a></h3>
                <strong>Ipsum dolor sit amet</strong>
            </header>
        </article> --}}
    </section>

</div>