<link rel="stylesheet" href="/assets/css/entry.css" />
<link rel="stylesheet" href="/assets/css/entry-large-screen.css" media="screen and (min-width:824px)">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>


<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="{{article.cover.publicUrl}}" alt="" />
        </span>
        <header class="major">
            <h1>{{article.title}}</h1>
        </header>
        <div class="content">
            {{{article.description}}}
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
    <section>
        <div class="inner">
            <div class="metadata">
                <span class="date">
                    {{#dateFormat "2020-07-11T18:11:16.985Z"}}
                    {{/dateFormat}}
                </span>
                <span class="category">
                    {{#each article.category}}
                        {{#getQueryLink name}}
                        {{/getQueryLink}}
                        <span class="splitter">|</span>
                    {{/each}}
                </span>
            </div>
            <header class="major">
                <h2>{{article.title}}</h2>
            </header>
            <div class="content">
                {{{article.content}}}
            </div>
            <div class="gallery">
                <a class="image fit" href="/images/495.jpg" target="_blank" rel="noopener noreferrer">
                    <img src="/images/495.jpg" alt="" />
                </a>
                <a class="image fit" href="/images/OIU9I70.jpg" target="_blank" rel="noopener noreferrer">
                    <img src="/images/OIU9I70.jpg" alt="" />
                </a>
                <a class="image fit" href="/images/16473.jpg" target="_blank" rel="noopener noreferrer">
                    <img src="/images/16473.jpg" alt="" />
                </a>
                <a class="image fit" href="/images/178.jpg" target="_blank" rel="noopener noreferrer">
                    <img src="/images/178.jpg" alt="" />
                </a>
                <a class="image fit" href="/images/2643.jpg" target="_blank" rel="noopener noreferrer">
                    <img src="/images/2643.jpg" alt="" />
                </a>
            </div>
        </div>
    </section>
</div>