<link rel="stylesheet" href="assets/css/index.css" />
<link rel="stylesheet" href="assets/css/index-large-screen.css" media="screen and (min-width:824px)">
<script src="assets/js/index.js"></script>


{{#each articles}}
    <article class="centered ">
        <span class="image">
            <img src="{{cover.publicUrl}}" alt="" />
        </span>
        <header class="major">
            <h3><a href="/entry/{{id}}" class="link">{{title}}</a></h3>
            <strong class="description">
                {{{description}}}
            </strong>
        </header>
    </article>
{{/each}}
