#header nav a[href="/blog"] {
   color: var(--active-menu);
}

.blogFilters {
   display: flex;
   flex-wrap: wrap;
}

.blogFilters li {
   padding: 0 !important;
   flex-grow: 1;
}

.blogFilters button {
   /* border-right: 1px solid black; */
   box-shadow: inset -1px 0 var(--black);
   width: 100%;
}

.blogFilters li:last-child button {
   box-shadow: none;
}

.cleanShadow {
   box-shadow: none !important;
}

.blogFilters button:focus {
   outline-color: var(--red);
}
