
:root {
    --black: #424242;
    --dblack: #2b2b2b;

    --red: #97363b;
    --red2: #903439e0;
    --dred: #891113;
    /* --red: #891113; */
    /* --hover-red: #8f5e60; */
    --hover-red: #88444a;
    --banner-red: #88444a;

    --blue: #53e3fb;
    --hover-blue: #9bf1ff;
    
    --dblue: #242943;
    
    --white: white;
    
    --focus: #a8ceee;
    
    --active-menu: #a1a7af;
    
    --info-fill: #f8ffff;
    --info-border: #a8e4f1;
    --info-text: #5d89b7;
}