
#header nav a[href="/blog"] {
    color: var(--active-menu);
}

#main {
    color: var(--black);
    background-color: white;
}

#main > * > .inner {
    padding: 2em 0;
}

#main header * {
    color: var(--black);
}

#main header *::after {
    background-color: var(--black);
}

.metadata {
    margin-bottom: 2em;
}

.metadata .category {
    float: right;
}

.metadata .splitter:last-child {
    display: none;
}

.inner .content {
    text-align: justify;
}

.inner .content * {
    color: var(--black);
}

#banner * {
    color: var(--white);
}

.inner .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 20em;
    height: fit-content;
    justify-content: space-between;
}

.gallery .image {
    max-width: 60%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.gallery .image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.gallery img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.gallery .image:nth-child(5n + 1) {
    width: 30%;
}

.gallery .image:nth-child(5n + 2) {
    width: 35%;
}

.gallery .image:nth-child(5n + 3) {
    width: 35%;
}

.gallery .image:nth-child(5n + 4) {
    width: 45%;
}

.gallery .image:nth-child(5n + 5) {
    width: 55%;
}

#banner > .inner .content p {
    font-size: 0.8em;
}